body {background-color: #C4DAD2 ;}
h1{color: aqua;font-size:100px;}



h3
{color: aqua;}
hr {border-style: none;
 border-top-style: dotted;
border-color: grey;
border-width: 5px;
width: 4%;}
